:root {
  --main-color: yellow;
  --bg--color: gray;
  --font-color: black;
}

body {
  margin: 0px;
}

.total_content {
  background-color: gray;
  min-height:100vh;
}

.main_container {
  width: 50vw;
  background-color: white;
  margin: 10px auto;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 5vh 0;
  color: var(--main-color);
}

table{
	text-align: center;
	margin: 10px auto;
}

.head{
	height: 70px;
	font-weight : bold;
}